.characterImage {
    height: 300px;
    width:  300px;
}

.searchBox {
    border: 1px solid red;
    border-radius: 50px;
    width: 50%;
    align-items: center;
    padding: 20px;
    font-weight: 600;
    font-size: 16px;
}
.searchBoxContainer {
    text-align: center;
}