.characterImage {
    height: 300px;
    width:  300px;
}

.searchBox {
    border: 1px solid red;
    border-radius: 50px;
    width: 50%;
    align-items: center;
    padding: 20px;
    font-weight: 600;
    font-size: 16px;
}
.searchBoxContainer {
    margin-top: 20px;
    text-align: center;
}

.characterDetailsContainer {
    margin-left: 1%;
    margin-right: 1%;
}

.charactersFullList{
    margin-left: 1%;
    margin-right: 1%;
}

.characterName{
    font-size: 20px;
    font-weight: bold;
}

.characterLink {
    color: green;
}
.characterDescription{

}