<div class="characterDetailsContainer">
    <h1>{{characterDetails.name}}</h1>


    <div ng-if="characterDetails.picUrl" class="thumbnail">
        <img class="characterImage" ng-src="{{characterDetails.picUrl}}" />
    </div>

    <span ng-if="characterDetails.comics.items.length">
    <h2>Comics</h2>
    <ul>
        <li ng-repeat="comic in characterDetails.comics.items">{{ comic.name }}</li>
    </ul>
    </span>
    <span ng-if="characterDetails.stories.items.length">
    <h2>Stories</h2>
    <ul>
        <li ng-repeat="story in characterDetails.stories.items">{{ story.name }}</li>
    </ul>
    </span>
    <span ng-if="characterDetails.series.items.length">
    <h2>Series</h2>
    <ul>
        <li ng-repeat="series in characterDetails.series.items">{{ series.name }}</li>
    </ul>
    </span>
</div>